<div class='container'>
<h1>Home</h1>
<%= button_to "Users, Click Here!", users_login_path, method: :get %>
<br>
<%= button_to "Restaurant Managers, Click Here!", restaurants_login_path, method: :get %>
<br>
<%= button_to "Complete Restaurants List", restaurants_path, method: :get %>
</div>

