<div class='container'>
<h1>All Restaurants</h1>

<% @restaurants.each do |restaurant| %>
        <ul>
                <li>
                		<img src=<%=restaurant.img_url%> >
                		<br>
                        <h4><%= link_to(restaurant.name, restaurant_path(restaurant)) %></h4>
                        <br>
                        <h4><%= restaurant.description%></h4>

                </li>
        </ul>
<% end %>
</div>